body {
    margin: 0;
    width: 1920px;
}

header {
    background-image: url(../img/pattern.png);
    background-color: rgb(61, 165, 255);
    background-position: top;
    background-size: contain;
    height: 140px;
    position: relative;
    margin: 0;
}

main {
    margin: 10px;
}

footer {
    margin: 10px;
}

img {
    margin-top: 20px;
}

h1 {
    margin: 0;
    font-size: 3em;
}

h2 {
    padding-top: 10px;
}

ul {
    padding-left: 0;
    list-style-position: inside;
}

.greytext {
    color: grey;
}

.bluetext {
    color: rgb(34, 192, 255);
}

.whitetext {
    color: white;
}

.yellowbacktext {
    background-color: yellow;
}

.smalltext {
    font-size: 0.8em;
}

.bluerow {
    background-color: rgb(24, 159, 255);
    font-weight: bold;
}

.lightbluerow {
    background-color: lightblue;
}

.smallcolumn {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}

.largecolumn {
    width: 500px;
    display: inline-block;
    vertical-align: middle;
}

.footerimages {
    width: 312px;
    height: 208px;
    padding-left: 10px;
}

.monitorimage {
    background-image: url(../img/monitor.jpg);
}

.graphimage {
    background-image: url(../img/graph.jpg);
}

.logo {
    width: 350px;
    position: absolute;
    left: 5px;
    bottom: 10px;
}