body {
    margin: 0;
}

main {
    margin: 10px;
}

header {
    background-image: url(../img/pattern.png);
    background-color: rgb(61, 165, 255);
    background-position: top;
    height: 170px;
    position: relative;
    margin: 0;
}

h1 {
    font-size: 4em;
    margin: 0;
}

span {
    font-size: 1.5em;
}

img {
    margin-top: 10px;
}

.bluetext {
    color: grey);
}

.bluetext {
    color: rgb(34, 192, 255);
}

.small {
    font-size: 1.1em;
}

.logo {
    width: 350px;
    position: absolute;
    left: 5px;
    bottom: 10px;
}