body {
    margin: 0;
}

main {
    margin: 10px;
}

header {
    background-image: url(../img/pattern.png);
    background-color: rgb(61, 165, 255);
    background-position: top;
    height: 140px;
    position: relative;
    margin: 0;
}

img {
    margin-top: 20px;
}

h1 {
    margin: 0;
    font-size: 3em;
}

ul {
    padding-left: 0;
    list-style-position: inside;
}

.greytext {
    color: grey;
}

.bluetext {
    color: rgb(34, 192, 255);
}

.yellowbacktext {
    background-color: yellow;
}

.small {
    font-size: 0.80em;
}

.logo {
    width: 350px;
    position: absolute;
    left: 5px;
    bottom: 10px;
}